.form__labelText {
    width: 400px;
    display: inline-block;
}

.form__field {
    color: rgb(0, 0, 0);
    padding: 5px;
    border: 2px solid rgba(109, 77, 8, 0.555);
    border-radius: 5px;
    width: 80%;
    max-width: 80%;
    margin: 5px;
}

.button {
    color: rgb(255, 255, 255);
    background-color:hsl(180, 100%, 25%);
    border: none;
    padding: 10px;
    width: auto;
    margin: 10px;
}

.button:hover {
    color: rgb(241, 232, 211);
    background-color: hsl(180, 100%, 40%);
    transition: 0.3s;
    transform: scale(1.1);
}

.link {
    color: rgb(0, 0, 0);
    background-color: rgb(235, 206, 154);
    padding: 5px;
    border: 2px solid rgba(109, 77, 8, 0.555);
    border-radius: 5px;
    width: auto;
    text-decoration: none;
}

@media (max-width: 600px) {
    .container {
        margin: 10px;
    }

    .form__field {
        width: 100%;
        max-width: 100%;
        margin: auto;
    }

    .button {
        width: 100%;
        margin: 10px auto;
    }
}


