.button_done_unchecked {
    background-color: rgb(39, 175, 55);
    border: none;
    transition: transform 1s ease-in;
    color: white;
}

.button_done_unchecked:hover {
    background-color: rgb(83, 207, 97);
    transition: 0.3s;
}

.button__done {
    background-size: contain;
    width: 50px;
}

.button__remove {
    background-color: rgb(196, 28, 28);
    width: 50px;
    height: 50px;
    border: none;
    color: white;
}

.button__remove:hover {
    background-color: rgb(249, 59, 59);
    transition: 0.3s;
}

.task__plane {
    list-style-type: none;
}

.task__item--row {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-gap: 11px;
    align-content: center;
    font-size: 20px;
}

.task__item {
    margin: 5px 0;
    padding: 5px;
    list-style-type: none;
    min-height: 80px;
}

.task__item--done {
    text-decoration: line-through;
}

