html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}


.body {
    margin: 0 auto;
    max-width: 900px;
    color: #000000;
    background-color: rgb(239, 235, 235);
    font: 25px/2 'Oswald', sans-serif;
}

.list {
    width: 100%;
}

.list__field {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 5px 0;
    box-shadow: 15px 15px 15px 15px rgba(188, 182, 170, 0.26);
}

.list__field--biggerGap {
    margin: 15px 0 0 0;
}

.list__item {
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
    padding: 5px;
    list-style-type: none;
    min-height: 80px;
    box-shadow: 15px 15px 15px 15px rgba(188, 182, 170, 0.26);;
}

.list__item--done {
    text-decoration: line-through;
}

.list__item--row {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-gap: 11px;
    align-content: center;
}


.list__plane {
    list-style-type: none;
}